<div *ngIf="isDataAvailable" class="col-md-12">
    <div class="card">
        <div class="card-header" [attr.data-background-color]="getColor()">
            <h4 class="title">{{title}}</h4>
            <p class="category">{{subtitle}}</p>
            <div style="position: absolute; width:100%;">
                <div *ngIf='headerButtons' class="pull-right" style="margin-right: 60px">
                    <button *ngFor="let button of headerButtons" 
                    class="btn btn-round btn-sm" type="button" 
                    [ngStyle]="{ 'background-color': getOverlayButtonColor(), 'margin-top': 0}"
                    (click)="emitSelect(button.event)">
                        <i class="material-icons">{{button.icon_left}}</i> {{button.title}} <i class="material-icons">{{button.icon_right}}</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th [attr.colspan]="keys.length">
                            <button *ngIf="addItemOption"  _ngcontent-c4="" class="btn btn-simple btn-sm" 
                            [ngClass]='buttonType()'
                             (click)="toogleModal($event,'crear')"
                            rel="tooltip" [attr.title]="createTitleTooltip?createTitleTooltip:createTitle" type="button">
                                <i _ngcontent-c4="" class="material-icons">add</i>
                                    {{createTitle}}
                            </button>
                            <button *ngIf="exportableOption" _ngcontent-c4="" class="btn btn-simple btn-sm" 
                            [ngClass]='buttonType()'
                            rel="tooltip" title="Exportar a CSV" type="button"
                            (click)="export()">
                                <i _ngcontent-c4="" class="material-icons">archive</i>
                                    Exportar
                            </button>
                            <span *ngIf='bodyButtons'>
                                <button *ngFor="let button of bodyButtons" 
                                class="btn btn-simple btn-sm" type="button"  [ngClass]='buttonType()'
                                (click)="emitSelect(button.event)" rel="tooltip" [attr.title]="button.title">
                                    <i class="material-icons">{{button.icon_left}}</i> {{button.title}} <i class="material-icons">{{button.icon_right}}</i>
                                </button>
                            </span>
                        </th>
                    </tr>
                    <tr>
                        <th *ngIf="editableRows || deletableRows"  style="border-top-style: hidden; width: 80px!important"></th>
                        <th class="touchable" *ngFor="let key of keys; let i = index"  style="border-top-style: hidden;" (click)="sortBy(key)">
                            <b>{{key}}</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data">
                        <td *ngIf="editableRows || deletableRows" style="width: 80px!important">
                            <i *ngIf="editableRows" class="material-icons touchable" (click)="toogleModal($event, 'editar', row)">mode_edit</i>
                            <i *ngIf="deletableRows" class="material-icons touchable" (click)="toogleModal($event, 'eliminar', row)">delete</i>
                        </td>
                        <td *ngFor="let key of keys; let i = index">
                            {{row[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div *ngIf="camposEdicion && isDataAvailable" class="swal2-container swal2-fade swal2-shown" [ngClass]="{'hidden': showModalEdicion==false}" style="overflow-y: auto;" (click)="toogleModal($event,'editar')">
    <div role="dialog" aria-labelledby="modalTitleId" aria-describedby="modalContentId" class="swal2-modal swal2-show" tabindex="-1"
        style="width: 80%; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 263px;">
        <h2 class="swal2-title" id="modalTitleId">{{editTitle}}</h2>
        <div id="modalContentId" class="swal2-content" style="display: block;">
            <div class="row">
                <div *ngFor="let key of keysEdicion; let i = index">
                    <div class="col-xs-12 col-md-6 col-lg-4 pull-left" *ngIf="camposEdicion.types[key] != 'geoloc'" >
                        <div *ngIf="!isCombo(camposEdicion.types[key]) && camposEdicion.types[key] != 'boolean'
                        && camposEdicion.types[key] != 'posicion' && camposEdicion.types[key] != 'date' && camposEdicion.types[key] != 'month'" class="form-group form-black label-floating" [ngClass]="{'is-empty': (!editData[key])}" >
                            <label class="control-label">{{camposEdicion.text[key]}}</label>
                            <input [attr.type]="camposEdicion.types[key]" class="form-control" [(ngModel)]="editData[key]">
                        </div>
                        <div *ngIf="!isCombo(camposEdicion.types[key]) && (camposEdicion.types[key] == 'date' || camposEdicion.types[key] == 'month')" 
                                class="form-group form-black label-floating" >
                            <label class="col-xs-3" style="padding-top:10px;">{{camposEdicion.text[key]}}:</label>
                            <div class="col-xs-9">
                                <input [attr.type]="camposEdicion.types[key]" class="form-control" [(ngModel)]="editData[key]">
                            </div>
                        </div>
                        <div *ngIf="!isCombo(camposEdicion.types[key]) && camposEdicion.types[key] == 'boolean'" class="form-group form-black" style="margin-top: 25px; margin-bottom: 10px">
                            <div class="checkbox">
                                <label>
                                    <input name="optionsCheckboxes" type="checkbox" [(ngModel)]="editData[key]"><span class="checkbox-material"></span> {{camposEdicion.text[key]}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-black" *ngIf="isCombo(camposEdicion.types[key])" style="margin-top: 10px; margin-bottom: 17px">
                            <dropdown-cmp *ngIf="isCombo(camposEdicion.types[key])" [id]="key" 
                            [title]="camposEdicion.text[key]" [url]="camposEdicion.types[key].url_get" [data]="camposEdicion.types[key].data"
                            (selectionChanged)="handleSelection($event, 'editar')" [selectedItem]="this.editData[key]"></dropdown-cmp>
                        </div>
                        <div *ngIf="!isCombo(camposEdicion.types[key]) && camposEdicion.types[key] == 'posicion'" class="form-group form-black label-floating" [ngClass]="{'is-empty': (!editData[key])}" >
                            <label class="control-label">{{camposEdicion.text[key]}}</label>
                            <input [attr.type]="number" step='0.0000001' class="form-control" [(ngModel)]="editData[key]">
                        </div>
                    </div>
                    <div *ngIf="camposEdicion.types[key] == 'geoloc'" >
                        <hr>
                        <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top:20px;">
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left" style="margin-bottom:0;">
                                <button type="button" role="button" tabindex="0" class="swal2-confirm btn btn-warning" style="margin-bottom:0;" (click)="geolocalizar(editData, key, camposEdicion);">Geolocalizar</button>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left">
                                <div class="form-group form-black label-floating" [ngClass]="{'is-empty': (!editData.latitud)}" >
                                    <label class="control-label">Latitud</label>
                                    <input disabled [attr.type]="number" step='0.0000001' class="form-control" [(ngModel)]="editData.latitud">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left">
                                <div class="form-group form-black label-floating" [ngClass]="{'is-empty': (!editData.longitud)}" >
                                    <label class="control-label">Longitud</label>
                                    <input disabled [attr.type]="number" step='0.0000001' class="form-control" [(ngModel)]="editData.longitud">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="form-group form-black" >
                                    <label class="control-label" *ngIf="editData.geoloc_info"><b>Ubicación encontrada:</b> {{editData.geoloc_info}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <hr class="swal2-spacer" style="display: block;">
        <button type="button"
            role="button" tabindex="0" class="swal2-cancel btn btn-danger" style="display: inline-block;" (click)="toogleModal($event, 'editar')" >Cancelar</button>
        <button type="button" role="button" tabindex="0" class="swal2-confirm btn btn-success" (click)="editar($event)" >Aceptar</button>
    </div>
</div>

<div *ngIf="camposCreacion && isDataAvailable" class="swal2-container swal2-fade swal2-shown" [ngClass]="{'hidden': showModalCreacion==false}" style="overflow-y: auto;" (click)="toogleModal($event,'crear')">
    <div role="dialog" aria-labelledby="modalTitleId" aria-describedby="modalContentId" class="swal2-modal swal2-show" tabindex="-1"
        style="width: 80%; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 263px;">
        <h2 class="swal2-title" id="modalTitleId">{{createTitle}}</h2>
        <div id="modalContentId" class="swal2-content" style="display: block;">
            <div class="row">
                <div *ngFor="let key of keysCreacion; let i = index">
                    <div class="col-xs-12 col-md-6 col-lg-4 pull-left" *ngIf="camposCreacion.types[key] != 'geoloc'" >
                        <div *ngIf="!isCombo(camposCreacion.types[key]) && camposCreacion.types[key] != 'boolean' && camposCreacion.types[key] != 'date' && camposCreacion.types[key] != 'month'" class="form-group form-black label-floating is-empty" >
                            <label class="control-label">{{camposCreacion.text[key]}}</label>
                            <input [attr.type]="camposCreacion.types[key]" class="form-control" [(ngModel)]="createData[key]">
                        </div>
                        <div *ngIf="!isCombo(camposCreacion.types[key]) && camposCreacion.types[key] != 'boolean' && (camposCreacion.types[key] == 'date' || camposCreacion.types[key] == 'month')" 
                                class="form-group form-black label-floating" >
                            <label class="col-xs-3" style="padding-top:10px;">{{camposCreacion.text[key]}}:</label>
                            <div class="col-xs-9">
                                <input [attr.type]="camposCreacion.types[key]" class="form-control" [(ngModel)]="createData[key]">
                            </div>
                        </div>
                        <div *ngIf="!isCombo(camposCreacion.types[key]) && camposCreacion.types[key] == 'boolean'" class="form-group form-black" style="margin-top: 25px; margin-bottom: 10px">
                            <div class="checkbox">
                                <label>
                                    <input name="optionsCheckboxes" type="checkbox" [(ngModel)]="createData[key]"><span class="checkbox-material"></span> {{camposCreacion.text[key]}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-black" *ngIf="isCombo(camposCreacion.types[key])" style="margin-top: 10px; margin-bottom: 17px">
                            <dropdown-cmp *ngIf="isCombo(camposCreacion.types[key])" [id]="key"
                            [title]="camposCreacion.text[key]" [url]="camposCreacion.types[key].url_get" [data]="camposCreacion.types[key].data"
                            (selectionChanged)="handleSelection($event, 'crear')"></dropdown-cmp>
                        </div>
                    </div>
                    <div *ngIf="camposCreacion.types[key] == 'geoloc'" >
                        <hr>
                        <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top:20px;">
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left" style="margin-bottom:0;">
                                <button type="button" role="button" tabindex="0" class="swal2-confirm btn btn-warning" style="margin-bottom:0;" (click)="geolocalizar(createData, key, camposCreacion);">Geolocalizar</button>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left">
                                <div class="form-group form-black label-floating" [ngClass]="{'is-empty': (!createData.latitud)}" >
                                    <label class="control-label">Latitud</label>
                                    <input disabled [attr.type]="number" step='0.0000001' class="form-control" [(ngModel)]="createData.latitud">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4 pull-left">
                                <div class="form-group form-black label-floating" [ngClass]="{'is-empty': (!createData.longitud)}" >
                                    <label class="control-label">Longitud</label>
                                    <input disabled [attr.type]="number" step='0.0000001' class="form-control" [(ngModel)]="createData.longitud">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="form-group form-black" >
                                    <label class="control-label" *ngIf="createData.geoloc_info"><b>Ubicación encontrada:</b> {{createData.geoloc_info}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <hr class="swal2-spacer" style="display: block;">
        <button type="button"
            role="button" tabindex="0" class="swal2-cancel btn btn-danger" style="display: inline-block;" (click)="toogleModal($event,'crear')" >Cancelar</button>
        <button type="button" role="button" tabindex="0" class="swal2-confirm btn btn-success" (click)="crear($event)" >Aceptar</button>
    </div>
</div>

<div *ngIf="isDataAvailable" class="swal2-container swal2-fade swal2-shown" [ngClass]="{'hidden': showModalEliminar==false}" style="overflow-y: auto;" (click)="toogleModal($event,'eliminar')">
    <div role="dialog" aria-labelledby="modalTitleId" aria-describedby="modalContentId" class="swal2-modal swal2-show" tabindex="-1"
        style="width: 80%; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 263px;">
        <h2 class="swal2-title" id="modalTitleId">Eliminar</h2>
        <div id="modalContentId" class="swal2-content" style="display: block;">
            <div class="row">
                <h3>¿Desea eliminar la fila?</h3>
            </div> 
        </div>
        <hr class="swal2-spacer" style="display: block;">
        <button type="button"
            role="button" tabindex="0" class="swal2-cancel btn btn-danger" style="display: inline-block;" (click)="toogleModal($event,'eliminar')" >Cancelar</button>
        <button type="button" role="button" tabindex="0" class="swal2-confirm btn btn-success" (click)="eliminar($event)" >Aceptar</button>
    </div>
</div>