<style>
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
body {
	margin: 0;
}

#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
</style>
<div class="logo">
    <a href="/app">
        <div id="over">
            <img src="/app/assets/img/logo-vittal.png">
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
